html { 
    background: url(https://live.staticflickr.com/65535/50114006547_c34a64f63b_o_d.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    margin: auto;
}

p {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
}

.container {
    margin: 20% 0%;
    width: 100%;
    text-align: center;
}
.blurb {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    font-size: 2rem; 
    color: white;
}

.About_Me {
    padding: 0% 20%;
}

.socials {
    display: flex;
    padding: 0% 25%;
}

.Github, .Linkedin, .CV, .Email {
    flex:1;
    color: black;
    background-color: white;
    width: 10%;
    margin: 0% 1%;
    font-family: 'Nothing You Could Do', cursive;
}