
body { 
    background: url(https://live.staticflickr.com/65535/50114006547_c34a64f63b_o_d.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
.part-1 {
    padding: 20% 0%;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Nothing You Could Do', cursive;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
