
body { 
    background-color: #93CAB6;
    font-family: 'Source Code Pro', monospace;
}

.home {
    padding: 10% 0%;

}

.about-me{
    opacity: 75%;
    line-height: 150%;
    margin-bottom: 10%;
}


.about-me-content {
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}


a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.Github, .Linkedin, .Email {
    width: 8%;
}