
body { 
    background-color: #93CAB6;
    font-family: 'Source Code Pro', monospace;
}
  
.part-1 {
    padding: 20% 0%;

}

.About_Me{
    opacity: 75%;
    line-height: 150%;
}

.About_Me_Content {
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.Github, .Linkedin, .Email {
    width: 8%;
}